.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  position: relative;
}

canvas {
  position: absolute;
  justify-content: center;
  align-items: center;
  text-align: center;
}

img, canvas {
  border: 5px;
  border-color: blue;
}

.top {
  margin-top: 20px;
}