.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  position: relative;
}

canvas {
  position: absolute;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#image, #canvas {
  border: 5px;
  border-color: blue
}